<div class="modal-header">
  <span>Configurações</span>

</div>
<form (ngSubmit)="setConfiguration()" #form="ngForm" autocomplete="off">
  <div >
                  <div class="form-group">
                    <label for="linguagem" class="label-margin-bottom">Linguagem</label>
                    <select class="form-control input" name="linguagem" [(ngModel)]="config.linguagem" id="linguagem" #linguagem="ngModel" [required]="true">
                        <option value="pt-br">Português (BR)</option>
                        <option value="en">Inglês</option>
                    </select>
                    <small class="form-text error" *ngIf="linguagem.invalid && linguagem.touched && linguagem.errors?.required">
                        Linguagem é obrigatório
                    </small>
                </div>
                <div class="form-group">
                    <label for="linguagem" class="label-margin-bottom">Layout do teclado</label>
                    <select class="form-control input" name="layout" [(ngModel)]="config.layout" id="layout" #layout="ngModel" [required]="true">
                        <option value="QWERTY">QWERTY</option>
                    </select>
                    <small class="form-text error" *ngIf="layout.invalid && layout.touched && layout.errors?.required">
                        Layout é obrigatório
                    </small>
                </div>
                <div class="form-group">
                    <label class="label-margin-bottom label-margin-top">Sensor</label>
                    <select class="form-control input" name="sensor" [(ngModel)]="config.sensor" id="sensor" #sensor="ngModel" [required]="true">
                        <option value="mic">Microfone</option>
                        <option value="joy">Joystick</option>
                        <option value="tec">Teclado</option>
                    </select>
                    <small class="form-text error" *ngIf="sensor.invalid && sensor.touched && sensor.errors?.required">
                        Tipo de sensor é obrigatório
                    </small>
                </div>
                <div class="form-group">
                    <label for="tipoVarredura" class="label-margin-bottom label-margin-top">Tipo de varredura</label>
                    <select class="form-control input" name="tipoVarredura" [(ngModel)]="config.tipoVarredura" id="tipoVarredura" #tipoVarredura="ngModel" [required]="true">
                        <option value="manual">Manual</option>
                        <option value="automatico">Automático</option>
                    </select>
                    <small class="form-text error" *ngIf="tipoVarredura.invalid && tipoVarredura.touched && tipoVarredura.errors?.required">
                        Tipo de varredura é obrigatório
                    </small>
                </div>
                <div class="form-group" *ngIf="tipoVarredura.valid && tipoVarredura.value === 'automatico'">
                    <label for="tmpVarreduraLns" class="label-margin-bottom label-margin-top" style="display: block;">Tempo de varredura linhas (em segundos)</label>
                    <input step="0.1" type="number" class="form-control input" name="tmpVarreduraLns" [(ngModel)]="config.tmpVarreduraLns" id="tmpVarreduraLns" #tmpVarreduraLns="ngModel" [required]="true">
                    <small class="form-text error" *ngIf="tmpVarreduraLns.invalid && tmpVarreduraLns.touched && tmpVarreduraLns.errors?.required">
                        Tempo de varredura é obrigatório
                    </small>
                </div>

                <div class="form-group" *ngIf="tipoVarredura.valid && tipoVarredura.value === 'automatico'">
                  <label for="tmpVarreduraCls" class="label-margin-bottom label-margin-top" style="display: block;">Tempo de varredura colunas (em segundos)</label>
                  <input step="0.1" type="number" class="form-control input" name="tmpVarreduraCls" [(ngModel)]="config.tmpVarreduraCls" id="tmpVarreduraCls" #tmpVarreduraCls="ngModel" [required]="true">
                  <small class="form-text error" *ngIf="tmpVarreduraCls.invalid && tmpVarreduraCls.touched && tmpVarreduraCls.errors?.required">
                      Tempo de varredura é obrigatório
                  </small>
              </div>


  </div>          
  <div class="modal-footer">
    <button [disabled]=" !form.valid " class="btn btn-md btn-primary">Salvar</button>
  </div>

</form>
