.tamanho-button{
    width: calc((100% / 14) - 6px);
    position: relative;
    top: 0;
    margin-right: 6px; 
}

.tamanho-button2{
    width: calc((100% / 7) - 6px);
    position: relative;
    top: -21px;
    margin-right: 6px; 
}

.tamanho-button3{
    width: 101%;
    position: relative;
}

.button-keyboard{
    background-color: white;
    color: grey;
    max-height: 100%;
    width: 100%;
}

.icon-keyboard{
    max-height: 48px; 
}

.line{
    margin-bottom: 7px;
    padding: 0; 
    height: 45px;
}
