<nb-auth-block *ngIf="firstStep">
    <h2 class="title">{{ messageService.getTranslation('RECUPERAR_SENHA_TITULO') }}</h2>
    <small class="form-text sub-title">{{ messageService.getTranslation('RECUPERAR_SENHA_SUBTITULO') }}</small>
    <form (ngSubmit)="requestPass()" #requestPassForm="ngForm">
        <div class="form-group">
            <input name="email" [(ngModel)]="user.email" id="input-email" #email="ngModel" class="form-control" placeholder="{{ messageService.getTranslation('INPUT_EMAIL') }}"
            pattern=".+@.+\..+" [class.form-control-danger]="email.invalid && email.touched" [required]="true"
            autofocus>
            <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
                {{ messageService.getTranslation('EMAIL_OBRIGATORIO') }}
            </small>
            <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">
                {{ messageService.getTranslation('EMAIL_REAL') }}
            </small>
        </div>
        <button style="cursor: pointer;" [disabled]="submitted || !requestPassForm.form.valid" class="btn btn-hero-success btn-block" [class.btn-pulse]="submitted">
            {{ messageService.getTranslation('BTN_RECUPERAR_SENHA') }}
        </button>
        <small class="form-text error" *ngIf="erroEncontrarEmail">
            {{ messageService.getTranslation('EMAIL_REAL') }}
        </small>
    </form>
    <div class="links col-sm-12">
        <small class="form-text">
            {{ messageService.getTranslation('TEXTO_JA_TENHO_UMA_CONTA') }}
            <a (click)="navigateTo('./auth/login')"><label style="cursor:pointer; color:#4799eb" >{{ messageService.getTranslation('LINK_JA_TENHO_UMA_CONTA') }}</label></a>
        </small>
        <small class="form-text">
            <a (click)="navigateTo('./auth/register')"><label style="cursor:pointer; color:#4799eb">{{ messageService.getTranslation('LINK_CRIE_UMA_CONTA') }}</label></a>
        </small>
    </div>
</nb-auth-block>

<nb-auth-block *ngIf="secondStep">
    <h2 class="title">{{ messageService.getTranslation('RECUPERAR_SENHA_TITULO') }}</h2>
    <form (ngSubmit)="changePassword()" #changePassForm="ngForm">
        <div class="form-group">
            <label for="codigoEmail">{{ messageService.getTranslation('RECUPERAR_SENHA_CODIGO_LABEL') }}</label>
            <input type="text" name="codEmail" [(ngModel)]="codigoEmail" id="codEmail" #codigoEmailInput="ngModel" class="form-control" placeholder="{{ messageService.getTranslation('RECUPERAR_SENHA_CODIGO_LABEL') }}" autocomplete="off"
            [class.form-control-danger]="codigoEmailInput.invalid && codigoEmailInput.touched" [required]="true">
            <small class="form-text error" *ngIf="codigoEmailInput.errors?.required && codigoEmailInput.touched">
                {{messageService.getTranslation('RECUPERAR_SENHA_CODIGO_OBRIGATORIO')}}
            </small>
            <small class="form-text error" *ngIf="codigosDiferentes">
                {{messageService.getTranslation('RECUPERAR_SENHA_CODIGO_DIFERENTE')}}
            </small>
        </div>
        <div class="form-group">
            <label for="newPassword">{{ messageService.getTranslation('RECUPERAR_SENHA_SENHA_LABEL') }}</label>
            <input type="password" name="newPassword" [(ngModel)]="newPassword" id="newPassword" #newPasswordInput="ngModel" class="form-control" placeholder="{{ messageService.getTranslation('RECUPERAR_SENHA_SENHA_LABEL') }}" minlength="4" maxlength="20" autocomplete="new-password"
            [class.form-control-danger]="newPasswordInput.invalid && newPasswordInput.touched" [required]="true">
            <small class="form-text error" *ngIf="newPasswordInput.invalid && newPasswordInput.touched">
                {{messageService.getTranslation('RECUPERAR_SENHA_SENHA_OBRIGATORIA')}}
            </small>
        </div>
        <div class="form-group">
            <label for="confPassword">{{ messageService.getTranslation('RECUPERAR_SENHA_SENHA_CONFIRM_LABEL') }}</label>
            <input type="password" name="confPassword" [(ngModel)]="confPassword" id="confPassword" #confPasswordInput="ngModel" class="form-control" placeholder="{{ messageService.getTranslation('RECUPERAR_SENHA_SENHA_CONFIRM_LABEL') }}" minlength="4" maxlength="20" autocomplete="off"
            [class.form-control-danger]="confPasswordInput.invalid && confPasswordInput.touched" [required]="true">
            <small class="form-text error" *ngIf="confPasswordInput.invalid && confPasswordInput.touched && (newPasswordInput.value != confPasswordInput.value)">
                {{messageService.getTranslation('SENHAS_NAO_BATEM')}}
            </small>
        </div>
        <button style="cursor: pointer;" [disabled]="changePassForm.invalid || changePassForm.errors?.required || (newPasswordInput.value !== confPasswordInput.value)" class="btn btn-hero-success btn-block">
            {{ messageService.getTranslation('BTN_RECUPERAR_SENHA') }}
        </button>
    </form>
    <div class="links col-sm-12">
        <small class="form-text">
            {{ messageService.getTranslation('TEXTO_JA_TENHO_UMA_CONTA') }}
            <a (click)="navigateTo('./auth/login')"><label style="cursor:pointer; color:#4799eb" >{{ messageService.getTranslation('LINK_JA_TENHO_UMA_CONTA') }}</label></a>
        </small>
        <small class="form-text">
            <a (click)="navigateTo('./auth/register')"><label style="cursor:pointer; color:#4799eb">{{ messageService.getTranslation('LINK_CRIE_UMA_CONTA') }}</label></a>
        </small>
    </div>
</nb-auth-block>

<section class="modal_background" [hidden]="!mostraModal" >
    <div class="modal_passwordChange">
        <div class="btn_fechar_modal" *ngIf="!blockedAccount">
            <div (tap)="mostraModal = false;">
                <img height="25px" width="25px" src="../../../assets/images/fechar.svg">
            </div>
        </div>
        <div id="modal_body">
            <h1 id="modal_mensagem"></h1>
            <h3 id="modal_mensagem_tempo" style="margin-top: 5%"></h3>
            <button id="modal_btn" style="margin-top: 2%" class="btn btn-primary" (tap)="navigateTo('./auth/login')">{{messageService.getTranslation('RECUPERAR_SENHA_IR_LOGIN')}}</button>
        </div>
    </div>
</section>