<nb-card class="card-config">
    <nb-card-header>
        <div class="row">
            <div class="col-md-11">
                Configurações
            </div>
            <div class="col-md-1">
                <small>Salvar</small>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <form style="margin: 0 17px;">
            <div class="row">
                <label class="label-margin-bottom">Linguagem</label>
            </div>
            <div class="row">
                <select class="input">
                    <option value="pt-br">Português (BR)</option>
                    <option value="en">Inglês</option>
                </select>
            </div>
            <div class="row">
                <label class="label-margin-bottom label-margin-top">Sensor</label>
            </div>
            <div class="row">
                <select class="input">
                    <option value="mic">Microfone</option>
                    <option value="joy">Joystick</option>
                    <option value="tec">Teclado</option>
                </select>
            </div>
            <div class="row">
                <label class="label-margin-bottom label-margin-top">Tipo de varredura</label>
            </div>
            <div class="row">
                <select class="input">
                    <option value="manual">Manual</option>
                    <option value="automatico">Automático</option>
                </select>
            </div>
            <div class="row">
                <label class="label-margin-bottom label-margin-top">Tempo de varredura</label>
            </div>
            <div class="row">
                <input id="input-time" placeholder="Ex: 5s" class="input input-padding">
            </div>
            <!--<div class="row">
                <button class="btn button">Salvar</button>
            </div>-->
        </form>
    </nb-card-body>
</nb-card>