.label-margin-top {
    margin-top: 12px;
}

.label-margin-bottom {
    margin-bottom: 3px;
}

.input {
    border-radius: 5px;
    height: 35px;
    border: 2px solid #dadfe6;
    width: 20%;
}

.input-padding {
    padding: 0.75rem 0.75rem;
}

.card-config{
    height: 100%;
}