<div style="background-color: white;">
    <div class="modal-header">
        <span>{{messageService.getTranslation('MENSAGEM_SOBRESCREVER_TECLADO_CONFIRMACAO')}}</span>
        <button class="close" style="cursor: pointer;" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group line">
            <br><br>
            <button class="btn btn-primary" style="float:right; padding: 10px; margin: 6px; width: 100px;cursor: pointer;" id="name"  value="Não" (click)="sendRefutation()">{{messageService.getTranslation('MENSAGEM_SOBRESCREVER_TECLADO_NAO')}}</button> 
            <button class="btn btn-primary" style="float:right; padding: 10px; margin: 6px; width: 100px;cursor: pointer;" id="name"  value="Sim" (click)="sendConfirmation()">{{messageService.getTranslation('MENSAGEM_SOBRESCREVER_TECLADO_SIM')}}</button>
            <br>
        </div>
    </div>
</div>
