<div class="constainer-fluid" style="background-color: white; padding: 0;" *ngIf="isKeyboardName">
    <div class="modal-header">
        <span>Configurações do Botão</span>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form autocomplete="off">
        <div class="modal-body">

            <div class="from-group line">

                <label for="name">Insira o nome que irá aparecer em cima do botão</label>
                   <input type="text" id="name1" name1="name1" [(ngModel)]="buttonCaption" #name1="ngModel" class="form-control" placeholder="Nome do botão"
                        [class.form-control-danger]="name1.invalid && name1.touched" [ngModelOptions]="{standalone: true}"/>

            </div>
            <div class="from-group line">
                <label for="name">Insira o texto do botão que será inserido no editor de texto ao pressionar</label>
                    <input  type="text" id="name2" name2="name2" [(ngModel)]="buttonText" #name2="ngModel" class="form-control" placeholder="Texto do botão"
                    [class.form-control-danger]="name2.invalid && name2.touched" [ngModelOptions]="{standalone: true}"/>

            </div>
            <div class="from-group">
                <mat-slide-toggle id="escrever" color="primary" [(ngModel)]="escrever" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
                <label for="escrever" class="label-margin-bottom">{{ messageService.getTranslation('OP_BOTAO_ESCREVER') }}</label>
            </div>
            <div class="from-group">
                <mat-slide-toggle id="falar" color="primary" [(ngModel)]="falar" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
                <label for="falar" class="label-margin-bottom">{{ messageService.getTranslation('OP_BOTAO_FALAR') }}</label>
            </div>
            <div class="from-group line">
                <mat-slide-toggle id="imagem" color="primary" [(ngModel)]="imagem" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
                <label for="imagem" class="label-margin-bottom">{{ messageService.getTranslation('OP_BOTAO_IMAGEM') }}</label>
            </div>
            <div *ngIf="imagem" class="line">
                <div class="row line">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6" style="padding-right: 0">
                                <img class="image-button" src="../../../assets/images/{{imgPadrao}}.png"/>
                            </div>
                            <div class="col-md-1 slide-bar">
                                <div class="row button-top">
                                    <div class="col-md-12" style="padding:0">
                                        <button class="button-slide-bar" (click)="slideImage('up');"><i class="nb-arrow-dropup"></i></button>
                                    </div>
                                </div>
                                <div class="row button-bottom">
                                    <div class="col-md-12" style="padding:0">
                                        <button class="button-slide-bar" (click)="slideImage('down');"><i class="nb-arrow-dropdown"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-image">Imagem personalizada</label>
                    <input class="form-control" type="file" id="input-image"/>
                </div>
            </div>


        </div>
    </form>
    <div class="modal-footer">
        <button (click)="saveButtonConfiguration()" class="btn btn-primary" [disabled]="false">Salvar</button>
    </div>
</div>
