
div[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
    opacity: 0;
}

div[tooltip]:before {            
     position : relative;
     padding: 3px;
     white-space:nowrap;
     transition: 100ms;
     word-wrap: none;
     top: -60%;
     background-color: rgb(26, 86, 216);
     color: white;
     content : attr(tooltip);
     opacity : 0;
}

div[tooltip]:hover:before {  
    transition: opacity 2.5s;      
    opacity : 1;

}

