
.upper {
    height: 100%;
    width: 100%;
    background-color: #fdd;
}

.lower {
    height: 100%;
    width: 100%;
    background-color: #bbb;
}

.left {
    height: 100%;
    background-color: #ddf;
}

.box-teclado{
    position: relative;
    bottom: -12px;
    margin: auto;
    max-height: 40%;
}

.box-teclado-bottom{
    height: 100%;
    padding-top: 20px;
    position: relative;
    bottom: -12px;
    margin: auto;
    max-height: 40%;
    background-color: #364150;
}

.teclado-container-menu{
    padding: 54px 24px 14px 24px;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 
    0 2px 2px 0 rgba(0,0,0,.14), 
    0 1px 5px 0 rgba(0,0,0,.12);
    background-color:  #364150;
}



.teclado-container{
    height: 350px;
    overflow-y:scroll;
    /*padding: 54px 24px 14px 24px;*/
    padding: 24px 14px;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 
    0 2px 2px 0 rgba(0,0,0,.14), 
    0 1px 5px 0 rgba(0,0,0,.12);
    background-color:  #364150;
}

.teclado-container-editor{
    height: 400px;
    overflow-y:scroll;
    padding: 14px 24px;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 
    0 2px 2px 0 rgba(0,0,0,.14), 
    0 1px 5px 0 rgba(0,0,0,.12);
    /*background-color: rgb(102, 104, 103);*/
    background-color:  #364150;
}
.tamanho-button-especial{
    background-color: white; 
    color:black;
    height:48px;
    width: calc((100% / 14) - 6px);
    position: relative;
    top: 0;
    margin-right: 6px; 

    border-radius:  8px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1 solid transparent;
    /*@include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
    @include transition($btn-transition);
  
    // Share hover and focus styles
    @include hover-focus {
      text-decoration: none;
    }*/
}


.tamanho-button{
    width: calc((100% / 14) - 6px);
    position: relative;
    top: 0;
    margin-right: 6px; 
}
.tamanho-button2{
    width: calc((100% / 7) - 6px);
    position: relative;
    top: -21px;
    margin-right: 6px; 
}

.tamanho-button3{
    width: 101%;
    position: relative;
}

.button-keyboard-menu{
    padding: 0px 10px;
    white-space: normal;
    background-color: white; 
    color: grey;
    max-height: 100%;
    width: 100%;
}

.button-keyboard-menu:focus{
    padding: 0px 10px;
    white-space: normal;
    background-color: rgb(26, 216, 121);
    color: black;
    max-height: 100%;
    width: 100%;
}

.button-keyboard-menu:hover{
    padding: 0px 10px;
    white-space: normal;
    background-color: rgb(26, 216, 121);
    color: black;
    max-height: 100%;
    width: 100%;
}



.button-keyboard{
    white-space: normal;
    background-color: white;
    color: grey;
    max-height: 100%;
    width: 100%;
}




.button-keyboard-down{
    background-color: #2b3643; 
    color: grey;
    max-height: 100%;
    width: 100%;
}

.button-keyboard-down:focus{
    color: black;
    background-color: rgb(26, 216, 121);
    max-height: 100%;
    width: 100%;
}

.button-keyboard:focus{
    color: black;
    background-color:  rgb(26, 216, 121);
    max-height: 100%;
    width: 100%;
}

.button-keyboard:hover{
    color: black;
    background-color:  rgb(26, 216, 121);
    color: grey;
    max-height: 100%;
    width: 100%;
}

.icon-keyboard{
    max-height: 48px; 
}

.line{
    margin-bottom: 7px;
    padding: 0; 
    height: 45px;
}
