.upper {
    height: 100%;
    width: 100%;
    background-color: #fdd;
}

.lower {
    height: 100%;
    width: 100%;
    background-color: #bbb;
}

.left {
    height: 100%;
    background-color: #ddf;
}

.box-teclado{
    position: relative;
    margin: auto;
    max-height: 40%;
}

.box-teclado-bottom{
    height: 100%;
    padding-top: 20px;
    margin: auto;
    max-height: 40%;
    background-color: #eeeeee;
}

.teclado-container-menu{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 
    0 2px 2px 0 rgba(0,0,0,.14), 
    0 1px 5px 0 rgba(0,0,0,.12);
    background-color:  rgb(248, 248, 248);
}

.teclado-container{
    height: 320px;
    overflow-y:scroll;
    overflow-x: hidden;
    padding: 15px 24px;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 
    0 2px 2px 0 rgba(0,0,0,.14),
    0 1px 5px 0 rgba(0,0,0,.12);
    background-color:  #E8E8E8;
}

.teclado-container-editor{
    height: 30%;
    padding: 15px 24px;
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 
    0 2px 2px 0 rgba(0,0,0,.14), 
    0 1px 5px 0 rgba(0,0,0,.12);
    background-color:  #eeeeee;
}
.tamanho-button-especial{
    background-color: white; 
    color:black;
    height:48px;
    width: calc((100% / 14) - 6px);
    position: relative;
    top: 0;
    margin-right: 6px; 
    border-radius:  8px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1 solid transparent;
}

div[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
    opacity: 0;
}

div[tooltip]:before {            
     position : absolute;
     padding: 3px;
     white-space:nowrap;
     transition: 100ms;
     word-wrap: none;
     top: -60%;
     background-color: rgb(26, 86, 216);
     color: white;
     content : attr(tooltip);
     opacity : 0;
}

div[tooltip]:hover:before {  
    transition: opacity 2.5s;      
    opacity: 1;

}


.tamanho-button-especial-full{
    background-color: rgb(94, 175, 221);
    color:black;
    height:48px;

    width: 100%;
    position: relative;
    top: 0;
    margin-right: 6px; 

    border-radius:  8px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1 solid transparent;
    font-family: Exo;
}

.tamanho-button{
    width: calc((100% / 14) - 6px);
    position: relative;
    top: 0;
    margin-right: 6px; 
}
.tamanho-button2{
    width: calc((100% / 7) - 6px);
    position: relative;
    top: -21px;
    margin-right: 6px; 
}

.tamanho-button3{
    width: 101%;
    position: relative;
}

.button-keyboard-menu{
    padding: 10px;
    white-space: normal;
    color: black;
    width: 100%;
    height: 100%;
    background-color:  rgb(248, 248, 248);
    border: transparent;
    font-family: Exo;
    font-size: 14px;
}

.button-keyboard-menu:hover{
    padding: 0px 10px;
    white-space: normal;
    background-color: #D3D3D3;
    color: black;
    max-height: 100%;
    width: 100%;
}

.div-buttom{

}

.button-keyboard{
    white-space: normal;
    background-color: whitesmoke;
    color: black;
    max-height: 100%;
    width: 100%;
}


.button-keyboard-down{
    background-color: whitesmoke;
    color: black;
    max-height: 100%;
    width: 100%;
}

.button-keyboard-down:hover{
    background-color: rgb(26, 86, 216);
    color: white;
    max-height: 100%;
    width: 100%;
}

.button-keyboard-down:focus{
    color: black;
    background-color: rgb(26, 86, 216);
    max-height: 100%;
    width: 100%;
}

.button-keyboard:focus{
    color: black;
    background-color:  rgb(26, 86, 216);
    max-height: 100%;
    width: 100%;
}

.button-keyboard:hover{
    color: black;
    background-color:  rgb(26, 86, 216);
    color: grey;
    width: 100%;
}

.icon-keyboard{
    max-height: 48px; 
}

.line{
    margin-bottom: 7px;
    padding: 0; 
    height: 45px;
}
