.centralizer{
    text-align: center;
}

.validation {
    color: #A40000;
    padding-top: 4px;
    font-size: 15px;
}

.menu {
    background-color: #1e3d52;
    height: 50px;
    margin: 0;
    padding: 0;
}

.menu-logo{
    color: white;
}

.login-box{
    position: relative;
    top:60px;
    left: 15%;
    right: 15%;
    width: 70%;
    padding: 25px;
    margin-bottom: 60px;
    background-color: #f7f7f7;
    color: grey;
    border-radius: 8px;
    box-shadow: 8px 8px 8px grey;
   -webkit-box-shadow: 2px 2px 10px grey;
   -moz-box-shadow: 2px 2px 2px grey;

}

.login-box-width{
    width: 100%;
}

@media screen and (min-width:0px) and (max-width:991px){
    .login-box{
        position: relative;
        top:60px;
        width: 70%;
        margin: 0;
        padding: 30px;
        background-color: #f7f7f7;
        color: grey;
        border-radius: 8px;
        box-shadow: 8px 8px 8px grey;
        -webkit-box-shadow: 2px 2px 10px grey;
        -moz-box-shadow: 2px 2px 2px grey;
    }
}

.form-login{
    position: relative;
    left: 25%;
    right: 25%;
    width: 50%;
}

.input-label{
    margin-top: 15px;
}

.input-fild{
    width: 100%;
}

.btn-entrar{
    background-color: #1e3d52;
    color: white;
    width: 100%
}

.login-btn{
    position: relative;
    left: 22%;
    right: 22%;
    width: 56%
}

.margin{
    margin-top: 8px;
}

.btn-cadastrar {
    margin-top: 30px;
}

.text-editor{
    height: 50%
}

