<div class="card-profile container">
    <div class="row" style="border-bottom: 1px solid #e9e9e9; margin-bottom: 15px;">
        <h4 style="margin-left: 15px;">{{ messageService.getTranslation('PERFIL_TITULO') }}: {{ usuario.fullName }}</h4>
    </div>
    <div class="label-detalhes">
        <div class="row">
            <div class="col-md-2">
                <h5>{{ messageService.getTranslation('PERFIL_SUBTITULO') }}</h5>
            </div>
        </div>
    </div>
    <div>
        <div class="row line-margin">
            <div class="col-md-1">
                <label class="label-user-info" style="margin-left: 20px;">{{ messageService.getTranslation('INPUT_AVATAR') }}:</label>
            </div>
        </div>
        <div class="row line-margin">
            <div class="col-md-5">
                <div class="row">
                    <img style="margin-left: 38px;" class="profile-img" [src]='imgUrl'/>
                    <button class="btn edit-button"(click)="showLargeModal()"><i class="ion-edit"></i></button>
                </div>
            </div>
        </div>
        <form (ngSubmit)="save()" #form="ngForm" autocomplete="off">
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">{{ messageService.getTranslation('INPUT_NOME') }}</label>
                    <input type="text" id="name" name="name" [(ngModel)]="user.name" #name="ngModel" class="form-control" placeholder="{{ messageService.getTranslation('INPUT_NOME') }}"
                        [class.form-control-danger]="name.invalid && name.touched && name.errors?.required" required
                    />
                    <small class="form-text error" *ngIf="name.invalid && name.touched && name.errors?.required">
                        {{ messageService.getTranslation('NOME_OBRIGATORIO') }}
                    </small>
                </div>
                <div class="form-group">
                    <label for="name">{{ messageService.getTranslation('INPUT_EMAIL') }}</label>
                    <input type="email" id="email" name="email" [(ngModel)]="user.email" #name="ngModel" class="form-control" placeholder="{{ messageService.getTranslation('INPUT_EMAIL') }}"
                        disabled
                    />
                </div>
                <div class="form-group line">
                    <label for="password">{{ messageService.getTranslation('INPUT_NOVA_SENHA') }}</label>
                    <input type="password" id="password" name="password" [(ngModel)]="user.password" #password="ngModel" minlength="4" class="form-control" placeholder="{{ messageService.getTranslation('INPUT_NOVA_SENHA') }}"
                        [class.form-control-danger]="password.invalid && password.touched"
                    />
                </div>
                <div class="form-group line">
                    <label for="confirmPassword">{{ messageService.getTranslation('INPUT_CONFIRMA_SENHA') }}</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmPassword" minlength="4" #confirmPassword="ngModel" class="form-control" placeholder="{{ messageService.getTranslation('INPUT_CONFIRMA_SENHA') }}"
                        [class.form-control-danger]="confirmPassword.invalid && confirmPassword.touched" />
                    <small class="form-text error" *ngIf="confirmPassword.touched && password.value != confirmPassword.value">
                        {{ messageService.getTranslation('SENHAS_NAO_BATEM') }}
                    </small>
                </div>
                <div class="row">
                    <div class="col-md-12" style="padding: 0;">
                        <button class="btn btn-primary button-salvar" [disabled]="form.invalid || password.value != confirmPassword.value" style="margin-right: 15px;cursor: pointer;">{{ messageService.getTranslation('BTN_SALVAR') }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
