
<nb-auth-block>
    <h2 class="title">Entrar</h2>
    <small class="form-text sub-title" style="margin-top: 8px;">Olá! Entre com o seu usuário ou email</small>
    <form (ngSubmit)="login()" #form="ngForm" autocomplete="nope" style="margin-top: 8px;">
        <div *ngIf="errors && errors.length > 0 && !submitted" class="alert alert-danger" role="alert">
            <div><strong>Oh snap!</strong></div>
            <div *ngFor="let error of errors">{{ error }}</div>
        </div>
        <div *ngIf="messages && messages.length > 0 && !submitted" class="alert alert-success" role="alert">
            <div><strong>Hooray!</strong></div>
            <div *ngFor="let message of messages">{{ message }}</div>
        </div>
        <div class="form-group">
            <label for="input-email" class="sr-only">E-mail</label>
            <input name="email" [(ngModel)]="user.email" id="input-email" pattern=".+@.+\..+" class="form-control" placeholder="E-mail"
                #email="ngModel" [class.form-control-danger]="email.invalid && email.touched" autofocus [required]="true">
            <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.required">
            E-mail é obrigatório!
          </small>
            <small class="form-text error" *ngIf="email.invalid && email.touched && email.errors?.pattern">
            O e-mail deve ser válido!
          </small>
        </div>
        <div class="form-group">
            <label for="input-password" class="sr-only">Senha</label>
            <input name="password" [(ngModel)]="user.password" type="password" id="input-password" class="form-control" placeholder="Senha"
                #password="ngModel" [class.form-control-danger]="password.invalid && password.touched" [required]="true" [minlength]="4"
                [maxlength]="20">
            <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
                A senha é obrigatória!            
          </small>
            <small class="form-text error" *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
            A senha deve conter de {{4}} a {{20}} caracteres
          </small>
        </div>
        <div class="form-group accept-group col-sm-12">
            <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe">Mantenha-me conectado</nb-checkbox>
            <a style="cursor:pointer; color:#4799eb" class="forgot-password" (click)="navigateTo('./auth/request-password')">Esqueceu?</a>
        </div>
        <button style="cursor:pointer;" [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success" [class.btn-pulse]="submitted">
          Entrar
        </button>
    </form>
    <div class="links" style="margin-top: 16px; text-align: center;">
        <small class="form-text">
          Não tem uma conta? <a (click)="navigateTo('./auth/register')"><label style="cursor:pointer; color:#4799eb">Crie uma!</label></a>
        </small>
    </div>
</nb-auth-block>


