<div class="row">
  <div class="login-box col-md-8">
    <div>
      <h3 class="centralizer">Bem-Vindo!</h3>
      <form class="input-group form-login" [formGroup]="form">
        <div class="row">
          <label class="input-label">Nome</label>
          <div class="input-group">
            <span class="input-group-addon" id="nome"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text" class="form-control input-fild" placeholder="Nome completo" aria-describedby="nome" formControlName="Nome">
          </div>
          <label class="validation" *ngIf="form.get('Nome').touched && form.get('Nome').hasError('required')">Nome é obrigatório</label>
        </div>
        <div class="row">
          <label class="input-label">Email</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control input-fild" placeholder="Email" aria-describedby="basic-addon1" formControlName="Email">
          </div>
          <label class="validation" *ngIf="form.get('Email').touched && form.get('Email').hasError('required')">Email é obrigatório</label>
        </div>
        <div class="row">
          <label class="input-label">Senha</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
            <input type="password" class="form-control input-fild" placeholder="Senha" aria-describedby="basic-addon1" formControlName="Senha">
          </div>
          <label class="validation" *ngIf="form.get('Senha').touched && form.get('Senha').hasError('required')">Senha é obrigatório</label>
        </div>
        <div class="row">
          <label class="input-label">Confirmação de Senha</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
            <input type="password" class="form-control input-fild" placeholder="Confirmação de Senha" aria-describedby="basic-addon1" formControlName="ConfirmacaoSenha">
          </div>
          <label class="validation" *ngIf="form.get('ConfirmacaoSenha').touched && form.get('ConfirmacaoSenha').hasError('required')">Confirmação de senha é obrigatório</label>
        </div>
      </form>
      <div class="row">
        <div class="col-md-6 login-btn btn-cadastrar">
          <a class="btn btn-entrar">Cadastrar</a>
        </div>
      </div>
    </div>
  </div>
</div>