:host {
  .links {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group:last-of-type {
    margin-bottom: 3rem;
  }
  
  .sub-title {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .title {
    margin-bottom: .75rem;
    text-align: center;
  }
  //MODAL
  .modal_background{
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
  }
  .modal_passwordChange{
    max-height: 90%;
    min-height: 50%;
    width: 40%;
    max-width: 40%;
    height: max-content;
    background: #fff;
    margin: 5% 30%;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    color: #000;
    text-shadow: 1px 1px 1px #808080;
    text-align: center;
    overflow: auto;
  }
  #modal_body{
    clear: right;
  }
  .btn_fechar_modal,{
    float: right;    
    cursor: pointer;
  }
  
  #modal_btn,.modal_passwordChange .btn{
    cursor: pointer;
  }
}